[
  {
    "name":  "Bedroom",
    "path":  "bedroom",
    "model": "RHINE_UC7070T",
    "alexa": {
      "hi":    "Bedroom Fan High",
      "med":   "Bedroom Fan Medium",
      "low":   "Bedroom Fan Low",
      "off":   "Bedroom Fan Off",
      "light": "Bedroom Light"
    }
  },
  {
    "name":  "Girls",
    "path":  "girls",
    "model": "SMC_5060_RF",
    "commands": {
      "hi":    { "N": 4 },
      "med":   { "N": 3 },
      "low":   { "N": 0 },
      "off":   { "N": 5 },
      "light": { "N": 1 }
    },
    "alexa": {
      "hi":    "Girls Fan High",
      "med":   "Girls Fan Medium",
      "low":   "Girls Fan Low",
      "off":   "Girls Fan Off",
      "light": "Girls Light"
    }
  }
]
